@model IEnumerable<TrelloApp.Models.Tarjeta>
<script type="text/javascript">
    function activateForm(id){
        $(`#frmUpdate_${id}`).submit();
    }

</script>
<style>
    .showDescription {
        cursor: pointer;
    }
</style>
<div class="d-flex flex-column" id="card_@ViewBag.Estadoid">
    @foreach(var card in Model)
    {    
        <form asp-action="UpdateCard" method="get" asp-controller="Tablero" id="frmUpdate_@card.Id">
            <div class="handle">
                <input hidden name="id" value="@card.Id" />
                <input hidden name="estado" value="@card.EstadoId" />
                <div class="pt-1">
                    <input type="text" value="@card.Title" name="title" class="input_text" data-length="40" />
                </div>
                <div class="text-start grey lighten-4 px-1">
                    <a id="btnUpdate" onclick="activateForm(@card.Id)" class="showDescription" style="padding-left: 5px;"><i class="tiny material-icons prefix">edit</i></a>
                    <a id="info_@card.Id" class="showDescription" style="padding-left: 5px; text-decoration: none;"><i class="tiny material-icons prefix">info</i></a>
                    <a asp-action="DeleteCard" asp-controller="Tablero" asp-route-id="@card.Id" id="btnDelete" style="padding-left: 5px; text-decoration: none;"><i class="tiny material-icons prefix">delete</i></a>
                </div>
            </div>
            <div id="show_@card.Id" class="form-group pb-1" style="display: none;">
                <textarea class="materialize-textarea textarea2 deep-purple lighten-5" name="description" data-length="120">@card.Description</textarea>
            </div>
        </form>    
    }
</div>
